---
layout: default
---

<div class="home">
  <h2>Bayesian Experimental Design & Active Learning Seminar Series</h2>

  The Seminar Series on Bayesian Experimental Design & Active Learning (BEDAL) focuses on the study and development of breakthroughs in the design of experiments and broader class of active learning.

  <h3><a href="https://bayesiandesign.github.io/seminar/">Schedule</a></h3>

  The (online) seminar series begins on Monday 2nd November 2026 at 4PM GMT/UTC. This continues every two weeks, with holiday periods accounted for in the schedule. Find the full schedule <a href="https://bayesiandesign.github.io/seminar/">here</a>.

  Our next speaker is:
</div>
