---
layout: default
---

<div class="home">
  <h2><span style='font-weight: bold;'>Bayesian Experimental Design & Active Learning Seminar Series</span></h2>

  <p>The Seminar Series on Bayesian Experimental Design & Active Learning (BEDAL) focuses on the study and development of breakthroughs in the design of experiments and broader class of active learning.</p>

  <h3><a href="https://bayesiandesign.github.io/seminar/">Schedule</a></h3>

  <p>The (online) seminar series begins on Monday 2nd November 2026 at 4PM GMT/UTC. This continues every two weeks, with holiday periods accounted for in the schedule.</p> 
  <p>Find the full schedule <a href="https://bayesiandesign.github.io/seminar/">here</a>. Seminars are hosted online on <a href="https://zoom.us/j/97648549165">Zoom</a>.</p>

  <p>Our next speaker is:</p>
</div>
